{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Ventanilla {{ idServidor }}</h1>
    </div>
    <div class="text-center mb-4">
        <a href="/servidor" class="btn btn-danger">VOLVER</a>
    </div>
    <form id="form" class="custom-form booking-form" action="/servidor/atenciones/registrar/{{ idServidor }}"
        method="post" role="form">
        <div class="booking-form-body">
            <div class="row">
                <div class="col-lg-6 col-12 mb-3">
                    <div class="input-group date" id="date" data-target-input="nearest">
                        <input type="text" name="fecha" class="form-control  border-primary p-4 datetimepicker-input"
                            placeholder="Día" data-target="#date" data-toggle="datetimepicker" required />
                    </div>
                </div>

                <div class="col-lg-6 col-12 mb-3">
                    <input type="text" name="tiempo" class="form-control  border-primary p-4" placeholder="Tiempo"
                        required>
                </div>

                <div class="col-lg-6 col-12 mb-3">
                    <select class="custom-select  border-primary px-4" style="height: 49px;" name="calificacion"
                        required>
                        <option selected disabled>Calificación</option>
                        <option value="Malo">Malo</option>
                        <option value="Regular">Regular</option>
                        <option value="Bueno">Bueno</option>
                        <option value="Muy Bueno">Muy Bueno</option>
                        <option value="Excelente">Excelente</option>
                    </select>
                </div>

                <div class="col-lg-6 col-12 mb-3">
                    <input type="text" name="motivo" class="form-control  border-primary p-4" placeholder="Motivo"
                        required>
                </div>

                <div class="col-lg-4 col-md-6 col-8 mx-auto mt-4">
                    <button id="boton" type="submit" class="form-control btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}